
@{
    ViewBag.Title = "Index6";
}

    <html>
    <head>

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" />
        <title>Index6</title>
    </head>
    <body>
        <div>
            <h2>Dosyalar Aşağıdadır.</h2>
        </div>
        <div>
           @Html.ActionLink("PDF İndir!","PdfDosyaIndir","Home")
        </div>
     
    </body>
    </html>