
@{
    ViewBag.Title = "Index";
}

    <html>
    <head>

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <title>Sayfamız</title>

        <script src="~/Home3/BaslangicMesaji"></script>
        @*<script>alert('Merhaba Javascript')</script>*@
        <script src="~/Home3/JsButtonClick"></script>
    </head>
    <body>
        <div>
            <h2>Anasayfa</h2>
        </div><hr />
        <div>
           <input type="button" value="Mesaj Ver.." onclick="button_click()" />
        </div>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
    </html>

